[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"aws-cdk.core" = "*"
"aws-cdk.aws-ec2" = "*"
"aws-cdk.aws-ecs" = "*"
"aws-cdk.aws-logs" = "*"
"aws-cdk.aws-events" = "*"
"aws-cdk.aws-events-targets" = "*"
"aws-cdk.aws-iam" = "*"

[dev-packages]

[requires]
python_version = "3.9"
